.logo {
  width: 150px;
  float: left;
}

/* .LeftMenu {
  justify-content: center !important;
} */

.LoginSection {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}

li {
  display: inline;
}

/* a {
  color: black !important;
  margin-top: calc(22px + 2vmin) !important;
  padding-left: calc(6px + 1vmax);
  font-size: calc(12px + 1vmax);
  margin-left: calc(-10px + 1vmax);
  transition: all 0.2s ease-in-out;
} */

.NavBarRow {
  background-color: rgb(190, 190, 190);
  box-shadow: 1px 1px 1px black;
}
